#AssetContainer{
    border: 1px solid grey;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    margin: 10% 10% 10% 10%;
    background-color: lightgrey;
}
.empidcontainer{
	display: flex;
	flex: 1;
	margin: 1%;
}

.label_employeeid{
	display: flex;
	flex: 1;
}
.txt_employeeid{
	display: flex;
	flex: 1;
}

.empnamecontainer{
	display: flex;
	flex: 1;
	margin: 1%;
}

.label_employeename{
	display: flex;
	flex: 1;
}
.txt_employeename{
	display: flex;
	flex: 1;
}

#submitBtn{
	display: flex;
    justify-content: center;
    margin: 1%
}